In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
savings_data = "savingsrate.csv"

In [8]:
savingsrate_df = pd.read_csv(savings_data, encoding="ISO-8859-1") 
savingsrate_df.head()

         DATE  PSAVERT
0  1959-01-01     11.3
1  1959-02-01     10.6
2  1959-03-01     10.3
3  1959-04-01     11.2
4  1959-05-01     10.6

In [5]:
savingsrate_df = savingsrate_df.rename(columns=
                                      {"DATE":"Date",
                                      "PSAVERT": "Savings_rate"}
                                      )
savingsrate_df.head()

         Date  Savings_rate
0  1959-01-01          11.3
1  1959-02-01          10.6
2  1959-03-01          10.3
3  1959-04-01          11.2
4  1959-05-01          10.6